<div class="row justify-content-center">

  <div ng-controller="albumController" class="col-md-12">
    <status-field message="message" message-type="messageType" alert-class="alertClass"></status-field>
    <div class="artist-edit-row row">

      <div class="row ">
        <div class="col-md-12 artist-col">
          <span class="label-name">Artist: {{artistName}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 artist-col">

          <span class="label-name">Album:  <a href="#" editable-text="album.albumTitle" class="artist-link">{{album.albumTitle|| 'empty'}}</a></span>

          <!-- tracks -->
          <div class="track-list">
            <span class="label-name">Tracks:</span>
            <div ng-repeat="track in album.tracks" class="track-element">
              <a href="#" editable-text="track.trackTitle" class="artist-link">{{track.trackTitle|| 'empty'}}</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-around button-view-row">

        <button ng-click="editRequest()" type="button" class="btn sharp btn-primary button-apply pull-right"
                role="button">
          Apply changes
        </button>
        <button ng-click="deleteRequest()" type="button" class="btn sharp btn-danger button-apply pull-right"
                role="button">
          Delete album
        </button>
        <a href="#/add/{{artistId}}/{{albumId}}" class="btn sharp btn-success pull-right" role="button">Add
          track</a>

      </div>

    </div>

  </div>

</div>
