<div class="result-container">

    <div ng-controller="resultController" class="row">

      <div class="col-md-3 col-lg-3 col-xs-12 search-col">
        <div class="row">
          <div class="affix">
            <search-bar artists="artists" ng-model="typedQuery"></search-bar>
          </div>
        </div>
        </div>
      <div class="col-md-9 col-lg-9 col-xs-9 col-xs-12 scrollable-result-col">
        <!-- artists -->
        <div ng-repeat="artist in artists | filter:typedQuery" class="result-element">
            <div class="artist-list">
                <div class="artist-element">
                  <span class="label-name">Artist: </span><a href="#/artists/{{artist.artistName}}" class="artist-link">{{artist.artistName}}</a>

                    <!-- albums -->
                    <div class="album-list">
                        <div ng-repeat="album in artist.albums" class="album-element" >
                          <span ng-if="artist.albums[0]" class="label-name">Album: </span>
                          <a class="artist-link" href="#/albums/{{artist.artistName}}/{{album.albumTitle}}">{{album.albumTitle}}</a>

                            <!-- tracks -->
                            <div class="track-list">
                              <span ng-if="album.tracks[0]" class="label-name">Tracks:</span>
                                <div ng-repeat="track in album.tracks" class="track-element" >
                                  <a class="artist-link"
                                     href="#/tracks/{{artist.artistName}}/{{album.albumTitle}}/{{track.trackTitle}}">{{track.trackTitle}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-10 col-xs-10 result-col">
        <a href="{{addArtistUrl}}" class="btn sharp btn-success pull-right" role="button">Add artist</a>

      </div>
    </div>
</div>
