body {
  background: #1F1F1F url('images/StockSnap_VIGKZY2P20.jpg') no-repeat center bottom fixed;
  background-size: 100% auto;
  margin-top: 54px;
}

.login-row {
  padding: 15px;
  padding-left: 0px;
  border-bottom: 1px solid;
  border-color: snow;
  background-color: #242424;
  z-index: 999;
  top: 0;

  position: fixed;
  bottom: auto;
  width: 100%;
}

.view-container {
  padding-top: 15px;
  margin: auto;
  height: 100%;
}

.label-name {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: snow;
}

.artist-link {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.album-list {
  margin-left: 15px;
}

.track-list {
  margin-left: 15px;
}

.artist-item, .album-item, .album-element, .artist-label {
  color: snow;
}
.track-element {
  margin-left: 15px;
  color: snow;
}

.btn {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.artist-edit-row {
  margin-left: 20px;
}

.password-checkbox {
  display: inline-block;
}

.error {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: darkred;
}
.success {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: green;
}
.not-found{
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.view-frame.ng-scope{

  height:100%;
  width: 100%;
}

#not-found-message {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding-top: 30%;
}

.btn.sharp, .btn-primary, .btn-default {
  border-radius: 0;
  border-color: snow;
  margin: 2px;
}

.btn-default, .btn-danger {
  background-color: red !important;
}

.alert.sharp{
  border-radius: 0;
  border-color: snow;
}

input.form-control.sharp {
  border-radius: 0;
  border-color: snow;
  margin-top: 12px !important;
  margin-bottom: 12px;
}

.btn.add-button {
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn.add-button {
  background-color: green;
  color: snow;
}

.btn.del-button {
  background-color: red;
  color: snow;
  padding: 4px;
  margin: 5px;
}

.white {
  color: #ffffff;
  width: 14px;
  height: 14px;
}

.password-checkbox-label {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 10px;
  color: snow;
}

input.editable-has-buttons.editable-input {
  border-radius: 0px;
}

.button-view-row {
  margin-top: 15px;
}

.scrollable-result-col {

  padding-top: 10px;
}

.affix {
}

@media (max-width: 991px) {

  .affix {
    position: fixed;
    margin-left: 15px;
    width: 90%;
    text-align: center;
    z-index: 999;
    background-color: #1F1F1F;
  }

  .scrollable-result-col {

    padding-top: 60px;

  }

}
