<div class="album-list">

  <div ng-repeat="album in artist.albums" class="album-row">

    <div class="row"><span class="album-element">Album: {{album.albumTitle}}</span>
      <button class="btn btn-default del-button sharp" ng-click="deleteAlbum(album)"><span
        class="glyphicon glyphicon-minus white"></span></button>
    </div>

    <track-input ng-model="album" single="false"></track-input>
  </div>

  <div class="add-object row">
    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
      <div class="input-group row input-row" ng-hide="single">
        <input ng-model="newAlbum" ng-style="inputAlbum" type="text" class="form-control sharp"
               placeholder="Type album">
        <span class="input-group-btn">
              <button class="btn sharp  add-button" ng-click="addAlbum()"><span
                class="glyphicon glyphicon-plus white"></span></button>
          </span>

      </div>
    </div>
  </div>

</div>
