<div class="row justify-content-center">

  <div ng-controller="artistController" class="col-md-11">

    <status-field message="message" message-type="messageType" alert-class="alertClass"></status-field>
    <div class="artist-edit-row row">

        <div class="row ">
          <div class="col-md-12 artist-col">
            <span class="label-name">Artist: <a href="#" editable-text="artist.artistName" class="artist-link">{{artist.artistName|| 'empty'}}</a></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 artist-col">

            <div ng-repeat="album in artist.albums" class="album-element" >
              <span class="label-name">Album: </span>
              <a href="#" editable-text="album.albumTitle" class="artist-link">{{album.albumTitle|| 'empty'}}</a>

              <!-- tracks -->
              <div class="track-list">
                <span class="label-name">Tracks: </span>
                <div ng-repeat="track in album.tracks" class="track-element" >
                  <a href="#" editable-text="track.trackTitle" class="artist-link">{{track.trackTitle|| 'empty'}}</a>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="row justify-content-around button-view-row">
        <button ng-click="editRequest()" type="button" class="btn sharp btn-primary button-apply pull-right"
                role="button">Apply changes
        </button>
        <button ng-click="deleteRequest()" type="button" class="btn sharp btn-danger button-apply pull-right"
                role="button">Delete artist
        </button>
        <a href="#/add/{{artistId}}" class="btn btn-success sharp pull-right" role="button">Add album</a>
        </div>

    </div>

  </div>

</div>
