<div class="artist-list">

  <div ng-repeat="artist in artists" class="artist-row">

    <div class="row"><span class="artist-item">Artist: {{artist.artistName}}</span>
      <button class="btn btn-default del-button sharp" ng-click="deleteArtist(artist)"><span
        class="glyphicon glyphicon-minus white"></span></button>
    </div>

    <album-input ng-model="artist" single="false"></album-input>
  </div>

  <div class="add-object row">
    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
      <div class="input-group row input-row" ng-hide="single">
        <input ng-model="newArtist" ng-style="inputArtist" type="text" class="form-control sharp"
               placeholder="Type artist">
        <span class="input-group-btn">
              <button class="btn sharp  add-button" ng-click="addArtist()"><span
                class="glyphicon glyphicon-plus white"></span></button>
          </span>

      </div>
    </div>
  </div>

</div>
