<div class="track-list">
  <div ng-repeat="track in album.tracks" class="track-row">

    <div class="row"><span class="track-element">Track: {{track.trackTitle}}</span>
      <button class="btn btn-default del-button sharp" ng-click="deleteTrack(track)">
        <span class="glyphicon glyphicon-minus white"></span>
      </button>
    </div>

  </div>
  <div class="add-object row">
    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
      <div class="input-group row input-track-row" ng-hide="single">
        <input ng-model="newTrack" ng-style="inputTrack" type="text" class="form-control sharp"
               placeholder="Type track">
        <span class="input-group-btn">
          <button class="btn sharp add-button " ng-click="addTrack()"><span
            class="glyphicon glyphicon-plus white"></span></button>
        </span>

      </div>
    </div>
  </div>
</div>
