<div class="row justify-content-center">

  <div ng-controller="trackController" class="col-md-11">

    <status-field message="message" message-type="messageType" alert-class="alertClass"></status-field>
    <div class="artist-edit-row row">

      <div class="row ">
        <div class="col-md-12 artist-col">
          <span class="artist-label">Artist: {{artistName}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 artist-col">

          <span class="artist-label">Album: {{albumTitle}}</span>

          <!-- tracks -->
          <div class="track-list">
            <span class="artist-label">Track: <a href="#" editable-text="track.trackTitle" class="artist-input">{{track.trackTitle|| 'empty'}}</a></span>

          </div>
        </div>

      </div>

      <div class="row justify-content-around button-view-row">
        <status-field error-message="errorMessage" success-message="successMessage"></status-field>
        <button ng-click="editRequest()" type="button" class="btn btn-primary button-apply pull-right" role="button">
          Apply changes
        </button>
        <button ng-click="deleteRequest()" type="button" class="btn btn-danger sharp button-apply pull-right"
                role="button">
          Delete track
        </button>

      </div>

    </div>

  </div>

</div>
