<div ng-controller="inputFormController" class="input-row">
  <status-field message="childScope.message" message-type="childScope.messageType" alert-class="childScope.alertClass"></status-field>

  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 input-col">



    <div ng-if="!artistName">
      <div class="row artist-row">
        <artist-input ng-model="artist" single="true"></artist-input>
      </div>
    </div>


    <div ng-if="artistName && !albumTitle">

      <div class="row artist-row">
        <div class="row"><span class="artist-item">Artist: {{artist.artistName}}</span></div>

        <album-input ng-model="artist" single="true"></album-input>

      </div>

    </div>

    <div ng-if="artistName && albumTitle">

      <div class="row artist-row">
        <div class="row"><span class="artist-item">Artist: {{artistName}}</span></div>

        <div class="album-row">

          <div class="row"><span class="album-item">Album: {{album.albumTitle}}</span></div>

          <track-input ng-model="album" single="true"></track-input>

        </div>

      </div>


    </div>

    <div class="row submit-row justify-content-around">
      <button ng-click="submit()" type="button" class="btn sharp btn-primary button-apply pull-right" role="button">
        Submit
      </button>
    </div>
  </div>

</div>
