<div ng-controller="loginController" class="container-fluid ">

  <!-- fix view-->
  <div class="row justify-content-md-center">


    <div class="col-lg-8 col-md-8 col-xs-12  login-form justify-content-md-center">

      <div class="row ">
        <div class="col-lg-8 col-md-8 col-xs-12">
          <input type="text" ng-model="user.login" placeholder="Login" class="form-control sharp">
        </div>
      </div>
      <div class=" row">
        <div class="col-lg-8 col-md-8 col-xs-12">
          <input class="form-control sharp" type="{{inputType}}" ng-model="user.password" placeholder="Password">
          <input class="password-checkbox" ng-change="toggleCheckbox(isPasswordVisible)" ng-model="isPasswordVisible"
                 type="checkbox">
          <span class="password-checkbox-label">{{labelText}}</span></input>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-8 col-md-8 col-xs-12 submit-col">
      <span class="error">{{errorMessage}}</span>
      <button ng-click="submit()" type="button" class="btn sharp btn-success pull-right">Log in</button>
    </div>
  </div>
</div>
